@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-size: 16px;
    --bg: #423d3c;
    --text-color: #c5cfe8;
    --text-color-hover: #6989e0;

    font-family: 'Montserrat', Arial;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

#nav-logo {
    margin-left: 1rem;
    transition: 0.4s ease;
    font-size: 1.5rem;
}

#nav-logo:hover {
    color: var(--text-color-hover);
    font-size: 1.525rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: 0.4s ease;
    border: 1px solid transparent;
    border-radius: 0.15rem;
}

.nav-links li:hover {
    color: var(--text-color-hover);
    cursor: pointer;
    border-color: var(--text-color-hover);
}

.hamburger {
    display: none;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.4s ease;

    z-index: 100;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    display: block;
    content: '';
    background-color: var(--text-color);
    height: .25rem;
    margin: .5rem 0;
    transition: 0.4s ease-in-out;
}

.hamburger:hover::before {
    transform: rotate(-45deg) translate(-1rem, 0);
    background-color: var(--text-color-hover);
}

.hamburger:hover::after {
    transform: rotate(45deg) translate(-1rem, 0);
    background-color: var(--text-color-hover);
}

.hamburger:hover > .bar  {
    background-color: transparent;
}

/* small screens */
@media screen and (max-width: 1200px) {
    .hamburger {
        display: block;
    }

    header {
        align-items: flex-start;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-links {
        height: 0;
        overflow: hidden;
        transition: 0.5s ease;

        margin: 0;
        padding: 0;

        flex-direction: column;
    }

    .hamburger:hover ~ .nav-links, .nav-links:hover {
        height: 7rem;
    }
}